:root{
    --fontfamilyOS: "Open Sans", sans-serif;
    --fontfamilyMR: "Merriweather", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--fontfamilyMR);
}

.navbar{
    width: 100%;
}

.banner{
    height: 100px;
}
